@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.card {
    margin-top: 5rem;
    border-radius: 15px;
}

.btn-google {
    background: #dd4b39;
    color: white;
}

.btn-google:hover {
    background: #c23321;
    color: white;
}
